/* body backgroung */
.bg-pic {
    background-image: url('../Figures/home_background.png');
    background-size: 350px 350px;
    background-attachment: fixed;
} 
/*body background end*/
html {
  scroll-behavior: smooth;
}

/*MAIN PAGE TUTORIAL SELECT BUTTONS STYLES*/
.calculusButton {
    transition-duration: 0.4s;
    cursor: pointer;
} 
.calculusButton:hover {
    color:#dfecef;
    background-color:#304f4f !important;
}
/*MAIN PAGE TUTORIAL SELECT BUTTONS STYLES END*/

/*SIDEBAR STYLE*/
#leftSideBar1 {
    position: fixed;
    top: 0;
    padding-top: 120px;
    padding-bottom: 0;
    height: 100%;
    width: 220px;
    background-color: transparent;
}

#leftSideBar2 {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 0;
    padding-bottom: 20px;
}

.w3-sidebar a {
    display: block;
    text-decoration: none;
}
.w3-sidebar a:hover {
    background-color: #809fff !important;
}

.sideActive {
    background-color: #809fff !important;
    color: #03033D;
}
/*SIDEBAR STYLE END*/

/*MAIN CONTENT*/
#MainContent{

}
.nextPrevious {
    background-color: #809fff;

}

/*MAIN CONTENT END*/


/*TOBIC BAR STYLES*/
.topicBar {
    /*position: relative;*/
    z-index: 2;
    font-size: 17px;
    background-color: #282A35;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.TopicButton:hover, .nextPrevious:hover {
    background-color: #c2d6d6 !important;
    color: #03033D !important;
}
/*TOBIC BAR STYLES END*/


/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
.w3-sidebar {
    font-size: 14px !important;
}
}


/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) and (max-width: 767.98px) {
.w3-sidebar {
    font-size: 14px !important;
}
}


/*Medium devices (tablets, less than 992px)*/
@media (min-width: 767.98px) and (max-width: 991.98px) {
.w3-sidebar {
    font-size: 14px !important;
}
}


/* Large devices (desktops, less than 1200px)*/
@media (min-width: 991.98px) and (max-width: 1199.98px) { 

}


/* X-Large devices (large desktops, less than 1400px)*/
@media (min-width: 1199.98px) and (max-width: 1399.98px) {

}


/* XX-Large devices (large desktops, greater than 1400px)*/
@media (min-width: 1399.98px) {

}