*{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body {
	
}
/* HEADER */
header {
	min-height: 50px;
	width: 100%;
	background-color: white;
}

/*NAVBAR TOGGLE BUTTON HOVER EFFECTS*/
#navbarToggle {
  
  border-color: white; 
  transition-duration: 0.4s;
  text-decoration: none;
}  
#navbarToggle:hover {
  border-color: #03033D; /*Dark blue*/
 text-decoration: none;
}

.nav-item{
	color: white; 
	border:1px solid white;
}

.nav-item:hover {
	border:1px solid #03033D; /*Dark blue*/
}
.nav-item:active {
	border:1px solid #03033D; /*Dark blue*/
}

#navbarSupportedContent {
	width: 40%;
}

/* HEADER -- END */

/*TOPIC TAG STYLES*/
#topicTag {
	color: white;
	padding-top: 3px;
}



/*LOADING ICON*/
#LOADING{
  min-height: 150px;
  min-width: 150px;
  color: #03033D; /*Dark blue*/;
}

/*OFFCANVAS (DISPLAY ONLY FOR SM AND BELOW DEVICES)*/
#offcanvasTop {
  height: 100%;
}

/*OFFCANVAS BUTTON STYLES*/
.contentsBTTNs {
  color: #03033D; /*Dark blue*/
  border-color: #03033D; /*Dark blue*/;
  transition-duration: 0.4s;
}
.contentsBTTNs:hover {
  color: white;
  background-color: #03033D; /*Dark blue*/

}

/*SIDEBAR BUTTON STYLES*/
.sidebarBTTN {
  transition-duration: 0.4s;
  font-size: 14px;
  border-color: white;
}
.sidebarBTTN:hover {
  color: white;
  background-color: #03033D; /*Dark blue*/
  border-color: white;
}
.sidebarBTTN:active {
  color: white;
  background-color: #03033D; /*Dark blue*/  
  border: none;
}
.list-group .active {
  color: white;
  background-color: #03033D; /*Dark blue*/ 
  margin: 0;
  border-color: white;
}

#contentsDiff {
	background-color: white;
}



#topic {
	height: 30px;
	width: 100%;
	background-color: #03033D; /*Dark blue*/
}

#Main {
	height: 100%;
	width: 100%;
}

#sidebar {
	width: 20%;
	height: 100%;
	border-right: 6px solid #03033D; /*Dark blue*/
	overflow-y: scroll;
	padding: 10px 7px 20px 7px;
	position: fixed;
}

#mainContent {
	width: 80%;
	height: 95%;
	overflow-y: scroll;
	padding: 10px 5px 50px 5px;
	position: fixed;
}

.tableCol1 {
	border-left: 1px solid black;
}
.tableRow1 {
	border-bottom: 1px solid black;
}

footer {
	color: white;
	height: 20px;
	width: 100%;
  background-color: #03033D; /*Dark blue*/
  border-top: 0;
  font-size: 10px;
}
footer > p {
	opacity: 0.6;
}

.subContentsBTTN {
	width: 60%;
	font-size: 20px;
}

/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

#mainContent {
	width: 100%;
	font-size: 12px;
}
.subContentsBTTN {
    width: 55%;
    font-size: 14px;
}


}


/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) and (max-width: 767.98px) {

#mainContent {
	width: 100%;
	font-size: 14px;
}
.subContentsBTTN {
    width: 55%;
    font-size: 16px;
}


}


/*Medium devices (tablets, less than 992px)*/
@media (min-width: 767.98px) and (max-width: 991.98px) {
#topicTag {
	display: none;
}
#mainContent {
	font-size: 16px;
}


}


/* Large devices (desktops, less than 1200px)*/
@media (min-width: 991.98px) and (max-width: 1199.98px) { 
#topicTag {
	display: none;
}
#mainContent {
	font-size: 20px;
}

}


/* X-Large devices (large desktops, less than 1400px)*/
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
#topicTag {
	display: none;
}
#mainContent {
	font-size: 22px;
}
}


/* XX-Large devices (large desktops, greater than 1400px)*/
@media (min-width: 1399.98px) {
#topicTag {
	display: none;
}
#mainContent {
	font-size: 24px;
}
}

