/*SIDEBAR STYLE*/
#leftSideBar1 {
    position: fixed;
    top: 0;
    padding-top: 120px;
    padding-bottom: 0;
    height: 100%;
    width: 220px;
    background-color: transparent;
}

#leftSideBar2 {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 0;
    padding-bottom: 20px;
}

.w3-sidebar a {
    display: block;
    text-decoration: none;
}
.w3-sidebar a:hover {
    background-color: #809fff !important;
}

.sideActive {
    background-color: #809fff !important;
    color: #03033D;
}
/*SIDEBAR STYLE END*/

/*MAIN CONTENT*/
#MainContent{

}
.nextPrevious {
    background-color: #809fff !important;

}

/*MAIN CONTENT END*/


/*TOBIC BAR STYLES*/
.topicBar {
    /*position: relative;*/
    z-index: 2;
    font-size: 17px;
    background-color: #282A35;
    color: #f1f1f1;
    width: 100%;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.TopicButton:hover, .nextPrevious:hover {
    background-color: #c2d6d6 !important;
    color: #03033D !important;
}
/*TOBIC BAR STYLES END*/