*{
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

body {
	
}
/* HEADER */
header {
	min-height: 50px;
	width: 100%;
	background-color: white;
}

/*NAVBAR TOGGLE BUTTON HOVER EFFECTS*/
#navbarToggle {
  
  border-color: white; 
  transition-duration: 0.4s;
  text-decoration: none;
}  
#navbarToggle:hover {
  border-color: #03033D; /*Dark blue*/
 text-decoration: none;
}

.nav-item{
	color: white; 
	border:1px solid white;
}

.nav-item:hover {
	border:1px solid #03033D; /*Dark blue*/
}
.nav-item:active {
	border:1px solid #03033D; /*Dark blue*/
}

#navbarSupportedContent {
	width: 40%;
}

/* HEADER -- END */

/*TOPIC TAG STYLES*/
#topicTag {
	color: white;
	padding-top: 3px;
}


#languageSelect {
	text-decoration: none;
	width: 20%;
	border-radius: 0;
	font-size: 20px;
	margin-top: 5px;
	color:  #03033D; /*Dark blue*/
	border:1px solid #03033D; /*Dark blue*/
}

#languageSelect:hover {
	color: white;
	background-color: #03033D; /*Dark blue*/
}

.roundedButton {
	border:1px solid #03033D; /*Dark blue*/
	height: 150px;
	width: 150px;
	transition-duration: 0.4s;
	font-size: 20px;
}
.roundedButton:hover {
	border:1px solid #03033D; /*Dark blue*/
	color: white;
	background-color: #03033D; /*Dark blue*/
}
.roundedButtonSUB {
	height: 50px;
	width: 200px;
	border:1px solid #03033D; /*Dark blue*/	
	transition-duration: 0.4s;
	font-size: 16px;
}
.roundedButtonSUB:hover {
	border:1px solid #03033D; /*Dark blue*/
	color: white;
	background-color: #03033D; /*Dark blue*/
}


/*LOADING ICON*/
#LOADING{
  min-height: 150px;
  min-width: 150px;
  color: #03033D; /*Dark blue*/;
}

#topic {
	color: white;
	height: 30px;
	width: 100%;
	background-color: #03033D; /*Dark blue*/
}

#Main {
	height: 100%;
	width: 70%;
	font-size: 16px;
}


footer {
	color: white;
	height: 20px;
	width: 100%;
  background-color: #03033D; /*Dark blue*/
  border-top: 0;
  font-size: 10px;
}
footer > p {
	opacity: 0.6;
}


/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
#Main {
	height: 100%;
	width: 95%;
	margin-top: 10px;
}
.roundedButton {
	height: 100px;
	width: 100px;
	font-size: 14px;
}
.roundedButtonSUB {
	height: 40px;
	width: 200px;
	font-size: 14px;
}


}


/* Small devices (landscape phones, less than 768px)*/
@media (min-width: 575.98px) and (max-width: 767.98px) {
#Main {
	height: 100%;
	width: 95%;
}
.roundedButton {
	height: 100px;
	width: 100px;
	font-size: 15px;
}
.roundedButtonSUB {
	height: 50px;
	width: 200px;
	font-size: 15px;
}


}


/*Medium devices (tablets, less than 992px)*/
@media (min-width: 767.98px) and (max-width: 991.98px) {

#Main {
	height: 100%;
	width: 90%;
}

}


/* Large devices (desktops, less than 1200px)*/
@media (min-width: 991.98px) and (max-width: 1199.98px) { 
#topicTag {
	display: none;
}


}


/* X-Large devices (large desktops, less than 1400px)*/
@media (min-width: 1199.98px) and (max-width: 1399.98px) {
#topicTag {
	display: none;
}

}


/* XX-Large devices (large desktops, greater than 1400px)*/
@media (min-width: 1399.98px) {
#topicTag {
	display: none;
}

}

